<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="contact.touched && !contact.valid">its an error</div> 
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" type="text" id="firstname"  style="margin-right:10rem" class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name Is Required </div>
      </div>
      <div class="form-group">
          <label for="comment">Comment</label>
          <textarea ngModel name="comment" id="firstName" cols="30" rows="10" class="form-control"></textarea>
        </div>
  </div>
  
  <button class="btn btn-primary">Submit</button>
</form>
